.card {
  border-radius: 5px;
  margin: 30px auto;
  width: 260px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card__description {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__img {
  border-radius: 50%;
  background-color: #e7ecf2;
  width: 100px;
  height: 100px;
}

.card__name {
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.card__tag {
  font-weight: 500;
  margin-bottom: 5px;
  color: #868c8f;
}

.card__location {
  margin-bottom: 20px;
  font-weight: 500;
  color: #868c8f;
}

.card__stats {
  border-top: 1px solid #a8abae;
  display: flex;
  background-color: #f3f6f9;
}

.card__list {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card__label {
  color: #868c8f;
  font-size: 14px;
}

.card__quantity {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
